* {
  overflow: hidden;
}

a  {
   position: relative;
   left: 0;
   margin: 0;
   padding: 0;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(33, 30, 42);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
  }

  .text_coming {
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  
  .logo_index {
    display: block;
    margin: 0 auto;
    width: 20%;
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;
    margin: 10px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 571px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(196, 0, 121);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 15%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 15%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }


}

@media only screen and (min-width: 571px) and (max-width: 768px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(196, 13, 0);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 11.5%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 11.5%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }


}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(143, 109, 244);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 10.5%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 10.5%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }
}

@media only screen and (min-width: 815px) and (max-width: 956px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(244, 109, 181);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 9%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 9%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }
}

@media only screen and (min-width: 956px) and (max-width: 1023px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(109, 244, 181);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 8%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 8%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1279px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(244, 181, 109);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: inline-block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 8%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 8%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }
}

@media only screen and (min-width: 1279px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(244, 109, 120);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: inline-block;
    width: 8%;
    margin: 0 auto; /* Define margem superior e inferior como 2vh e centraliza horizontalmente */
    position: relative; /* Isso é necessário para usar 'left: 50%;' */
    /* Move o elemento 50% para a direita em relação ao seu contêiner */
    left: 0;
    margin: 10px;

  }
}