* {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.11), #C8EBF7);
  /* Gradiente entre preto e azul claro */
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.links_index {
  display: block;
  background-color: rgba(36, 30, 61, 0);
  width: 100%;
 position: relative;
  z-index: 8;
  top: 0;
  
}

.link_text {
  margin-left: 80px;
  font-size: 32px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  left: 14%; 
  margin: 2%;

}

.link_text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);

}

.link_text:hover::before {
  width: 50%;
}

.background {
  position: relative;
  background: #C8EBF7;
  width: 10vw;
  height: 10vh;
  overflow: hidden;
  z-index: 4;
}



.gradient-container {
  width: 500px;
  border-radius: 50%;
  height: 400px;
  background: radial-gradient(circle, #86408F, #86408F);
  position: relative;
  overflow: hidden;
  filter: blur(150px);
  position: fixed;
  z-index: 4;
}

.blur-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #86408F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  filter: blur(150px);
  /* Ajuste o valor conforme necessário */
  z-index: 4;
}

.gradient-container2 {
  width: 1000px;
  border-radius: 50%;
  height: 700px;
  background: radial-gradient(circle, #884A94, #884A94);
  position: relative;
  overflow: hidden;
  filter: blur(200px);
  position: fixed;
  left: 500px;
  bottom: 100px;
  z-index: 4;
}

.blur-circle2 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #884A94;
  ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  right: 500px;
  top: 300px;
  filter: blur(200px);
  /* Ajuste o valor conforme necessário */
  z-index: 4;
}

.gradient-container3 {
  width: 600px;
  border-radius: 50%;
  height: 250px;
  background: radial-gradient(circle, #D318FA, #D318FA);
  position: relative;
  overflow: hidden;
  filter: blur(150px);
  position: fixed;
  left: 1300px;
  top: 500px;
  z-index: 4;
}

.blur-circle3 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #D318FA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  right: 500px;
  bottom: 300px;
  filter: blur(150px);
  /* Ajuste o valor conforme necessário */
  z-index: 4;
}

.pentagon {
  width: 500px;
  /* Tamanho do pentágono */
  height: 500px;
  /* Tamanho do pentágono */
  background-color: #251A66;
  /* Cor de fundo do pentágono */
  background: radial-gradient(circle, #D318FA, #D318FA);
  position: fixed;
  left: 1200px;
  filter: blur(50px);
  border-radius: 200%;
  z-index: 4;

}

.gradient-container4 {

  width: 500px;
  height: 500px;
  background: radial-gradient(#251A66, #251A66);
  position: relative;
  overflow: hidden;
  filter: blur(300px);
  position: fixed;
  left: 1200px;
  border-radius: 20%;
  z-index: 4;

}

.pentagon2 {
  width: 500px;
  /* Tamanho do pentágono */
  height: 00px;
  /* Tamanho do pentágono */
  background-color: #6A96F4;
  /* Cor de fundo do pentágono */
  position: fixed;
  top: 400px;
  filter: blur(50px);
  z-index: 4;
}

.gradient-container5 {
  width: 500px;
  height: 500px;
  background: radial-gradient(#6A96F4,
      #6A96F4);
  background: #6A96F4;
  position: relative;
  overflow: hidden;
  filter: blur(190px);
  position: fixed;
  top: 400px;
  z-index: 4;
}

.perfil_img {
  width: 25%;
  margin: 25px;
  position: relative;
  top: 90px;
  left: 2%;
  z-index: 6;

}

.writing-effect {
  font-family: 'Noto Sans Gujarati', sans-serif;
  font-size: 6vh;
  color: #013170;
  overflow: hidden;
  width: 21ch;
  border-right: 4px solid #013170;
  white-space: nowrap;
  animation: typing 4.9s steps(21), blinking 0.75s infinite ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
  left: 33%;
  bottom: 285px;
  z-index: 6;
}


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}


.button_contacts {
  font-family: "Leelawadee UI";
  font-size: 4vh;
  width: 336px;
  height: 47px;
  border-radius: 20px;
  background: #D9D9D9;
  color: black;
  border: 1px solid #D9D9D9;
  position: relative;
  left: 30%;
  margin: 3px;
  bottom: 155px;
  z-index: 6;
}

.button_contacts:hover {
  background: black;
  color: #D9D9D9;
  cursor: pointer;
}

.text_introdu {
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  position: relative;
  left: 33%;
  bottom: 285px;
}

.card_cert {
  background: #9FD9DB;
  width: 33%;
  height: 35vh;
  text-align: center;
  z-index: 7;
  color: white;
  margin: 5%;
  border-radius: 10%;
  position: relative;
  left: 55%;
  bottom: 13px;
  font-size: 2em;
  padding: 15px;
}



.slider_img {
  width: 15%;
  position: relative;
 
  top:33px;
  left: 33px;
}

.slider_img2 {
  width: 15%;
  position: relative;
  top:33px;
  left: 33px;
  
}

.slider_img3 {
  width: 15%;
  position: relative;
  top:33px;
  left: 33px;
  
}

.title_card_difere {
  color: white;
  text-align: center;
  margin-top: 3%;
}

.img_skills {
  position: relative;
  z-index: 5;
  width: 7%;
  display: inline-block;
  margin-left: 40px;
}

.text_skills {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:77px;
  top: 3vh;
}

.text_skills2 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:73px;
  top: 3vh;
}


.text_skills3 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:97px;
  top: 3vh;
}

.text_skills4 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:76px;
  top: 3vh;
}
.text_skills5 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:98px;
  top: 3vh;
}

.text_skills6 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:86px;
  top: 3vh;
}


.text_skills7 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  display: inline-block;
  right:77px;
  top: 3vh;
}


.title_skills {
  color: #3B3D3D;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 10vh;
  text-align: center;

}

.text_about_me {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 5vh;
  margin-left: 5%;
}

.text_about_me2 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 5vh;
  margin-left: 5%;
  left: 830px;
  bottom: 300px;
}

.text_about_me3 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 5vh;
  margin-left: 5%;
  left: 830px;
  bottom: 200px;
}

.title_about_me {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 10vh;
  margin-left: 5%;
}

.title_about_me2 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 8vh;
  margin-left: 5%;
  left: 830px;
  bottom: 330px;
}

.title_about_me3 {
  color: white;
  position: relative;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-size: 8vh;
  margin-left: 5%;
  left: 830px;
  bottom: 200px;
}

footer {
  background-color: rgb(4, 48, 52);
  text-align: center;
  color: white;
  width: 100%;
  height: 35vh;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.footer_img {
  width: 5%;
  margin-top: 2vh;
  margin-bottom: 2ch;
}

.footer_img2 {
  width: 5%;
  margin: 1px;
}

.footer_img3 {
  width: 10%;
  margin: 1px;
}

.title_port {
  color: #3B3D3D;
  position: relative;
  z-index: 6;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 10vh;
}

.text_port {
  color: white;
  position: relative;
  z-index: 6;
  text-align: justify;
  font-family: "Jost", sans-serif;
  font-size: 4vh;
  margin-left: 5%;
}

.text_port2 {
  color: white;
  position: relative;
  z-index: 6;
  text-align: justify;
  font-family: "Jost", sans-serif;
  font-size: 4vh;
  margin-left: 5%;
  left: 59%;
  bottom: 97vh;
}


.title_project1 {
  color: white;
  position: relative;
  z-index: 6;
  text-align: justify;
  font-family: "Jost", sans-serif;
  font-size: 5vh;
  margin-left: 5%;
}

.title_project2 {
  color: white;
  position: relative;
  z-index: 6;
  text-align: justify;
  font-family: "Jost", sans-serif;
  font-size: 5vh;
  margin-left: 5%;
  left: 59%;
  bottom: 96vh;
}

.area_project {
  background: rgb(119, 119, 119);
  overflow: hidden;
  position: relative;
  width: 33%;
  height: 33ch;
  z-index: 5;
  margin-left: 5%;

}

.area_project2 {
  background: rgb(119, 119, 119);
  overflow: hidden;
  position: relative;
  width: 33%;
  height: 33ch;
  z-index: 5;
  margin-left: 5%;
  left: 59%;
  bottom: 96vh;
}

.button_website1 {
  width: 33%;
  height: 40px;
  font-size: 3vh;
  border-radius: 15px;
  color: white;
  background: red;
  font-family: "Jost", sans-serif;
  position: relative;
  left: 13%;
  bottom:100px;
}

.button_website2 {
  width: 33%;
  height: 40px;
  font-size: 3vh;
  border-radius: 15px;
  color: white;
  background: red;
  font-family: "Jost", sans-serif;
  position: relative;
  bottom:100px;
  left: 13%;
  
}

.button_website1:hover {
  background: black;
  cursor: pointer;

}

.button_website2:hover {
  background: black;
  cursor: pointer;

}



.button_code1 {
  width: 33%;
  height: 40px;
  position: relative;
  left:13%;
  bottom:100px;
  font-size: 3vh;
  border-radius: 15px;
  color: white;
  background: red;
  font-family: "Jost", sans-serif;
}

.button_code2 {
  width: 33%;
  height: 40px;
  position: relative;
  left:13%;
  bottom:100px;
  font-size: 3vh;
  border-radius: 15px;
  color: white;
  background: red;
  font-family: "Jost", sans-serif;
}

.button_code1:hover {
  background: black;
 
  cursor: pointer;

}

.button_code2:hover {
  background: black;
  cursor: pointer;

}

.carregarMais1 {
  margin-left: 2%;
  font-size: 3vh;
  border-radius: 20px;
  font-family: "Jost", sans-serif;
  background: #D9D9D9;
  width: 403px;
  height: 10vh;
  z-index: 6;
  position: relative;
  left: 33%;
  bottom: 93vh;
  
}

.carregarMais1:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}


.carregarMais2 {
  margin-left: 2%;
  border-radius: 20px;
  font-family: "Jost", sans-serif;
  background: #D9D9D9;
  width: 303px;
  height: 6vh;
  z-index: 6;
  position: relative;
  left: 13%;
  bottom: 93vh;
}

.carregarMais2:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.title_maproject{
  font-size: 7vh;
  margin-left:22px;
  color: white;
  position: relative;
  z-index: 6;
  left:13%;
  margin: 1%;
  bottom: 93vh;
}

.img_projects{
  width: 100%;
  height: auto; /* manter a proporção original da imagem */
  display: block;
  ´position: relative;
  z-index: 5;
  
}




.links_index2 {
  display: block;
  background-color: rgba(36, 30, 61, 0);
  width: 100%;
 position: relative;
  z-index: 8;
  top: 0;
  
}

.link_text2 {
  margin-left: 80px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: rgb(138, 135, 135);
  position: relative;
  left: 1%; 
  margin: 2%;
  font-family: "Jost", sans-serif;

}

.link_text2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);

}

.link_text2:hover::before {
  width: 50%;
}


.slider-container {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  position: relative;
  background: #9FD9DB;
  width: 33%;
  height: 35vh;
  z-index: 6;
  border-radius: 20px;
  margin: 5%;
  position: relative;
  top:10vh;
  left: 7%;
}

.slider {
  display: flex;
  height: 35vh;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: relative;
  z-index: 6;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.color_red{
color: red;
position: relative;
z-index: 6;
}

.text_dif1{
 
  width: 73%;
  color: rgb(118, 109, 109);
  font-family: "Jost", sans-serif;
  position: relative;
  left: 23%;
  bottom:49px;
}

.text_dif2{
  width: 73%;
  color: rgb(118, 109, 109);
  font-family: "Jost", sans-serif;
  position: relative;
  left: 23%;
  bottom:49px;
}

.text_dif3{

  width: 73%;
  color: rgb(118, 109, 109);
  font-family: "Jost", sans-serif;
  position: relative;
  left: 23%;
  bottom:40px;
}

.title_certificados{
 color: white;
 text-align: center;
 margin-top: 3%;
}

.dots_certificados{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot_certificado {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: relative;
  z-index: 6;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot_certificado.active {
  background-color: #333;
}