* {
  overflow: hidden;
}

a {
  position: relative;
  text-align: center;
  left: 0;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .coming_card {
    display: flex;
    flex-direction: column; /* Alterado para uma coluna para centralizar o .footer_imgcard */
    align-items: center; /* Centraliza os elementos na direção principal (verticalmente) */
    justify-content: center; /* Centraliza os elementos na direção secundária (horizontalmente) */
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(33, 30, 42);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
    hyphens: auto;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    margin: 0 auto;
    width: 20%;
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    height: auto;
    max-width: 15%;
    max-height: 15%;
    margin: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    height: auto;
    max-width: 15%;
    max-height: 15%;
    margin: 10px;
  }

 
}


@media only screen and (min-width: 401px) and (max-width: 571px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(196, 0, 121);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 15%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 15%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }


}

@media only screen and (min-width: 571px) and (max-width: 768px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(196, 13, 0);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    /* Tornar a largura automática para manter a proporção */
    height: auto;
    /* Tornar a altura automática para manter a proporção */
    max-width: 11.5%;
    /* Limitar a largura máxima para 100% do contêiner pai */
    max-height: 11.5%;
    /* Limitar a altura máxima para 100% do contêiner pai */
    margin: 10px;
  }


}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(53, 241, 241);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 200;
    flex: 1 1 100%;
    /* Adicionando flexível ao texto */
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    flex: 1 1 100%;
    /* Adicionando flexível ao texto de contatos */
  }

  .logo_index {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    /* Definindo a largura máxima como 100% */
    height: auto;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    height: auto;
    max-width: 11%;
    max-height: 11%;
    margin: 10px;
  }
}

.logo_index {
  display: block;
  /* Tornar a imagem um bloco para definir margens automaticamente */
  margin: 0 auto;
  /* Define margens automáticas para centralizar horizontalmente */
  width: 20%;
  /* Definir a largura desejada */
  left: 0;
  border-radius: 10px;
}

.footer_imgcard {
  display: block;
  width: auto;
  height: auto;
  max-width: 11%;
  max-height: 11%;
  margin: 10px;
}

@media only screen and (min-width: 815px) and (max-width: 956px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(244, 109, 181);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    flex: 1 1 100%; /* Adicionando flexível ao texto de contatos */
  }

  .logo_index {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Definindo a largura máxima como 100% */
    height: auto;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    height: auto;
    max-width: 9%;
    max-height: 9%;
    margin: 10px;
  }
}


@media only screen and (min-width: 956px) and (max-width: 1023px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(109, 244, 181);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    flex: 1 1 100%; /* Adicionando flexível ao texto de contatos */
  }

  .logo_index {
    display: block;
    margin: 0 auto;
    max-width: 20%; /* Definindo a largura máxima como 20% */
    width: 100%; /* Definindo a largura como 100% */
    border-radius: 10px;
  }

  .footer_imgcard {
    display: block;
    width: auto;
    height: auto;
    max-width: 8%;
    max-height: 8%;
    margin: 10px auto; /* Centralizando horizontalmente */
    position: relative;
    left: 0;
  }
}






@media only screen and (min-width: 1023px) and (max-width: 1279px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(244, 181, 109);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 8%;
    max-height: 8%;
    margin: 10px;
    margin: 0 auto;
    position: relative;
    left: 0;
  }


}

@media only screen and (min-width: 1279px) {
  .coming_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Jost", sans-serif;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background-color: rgb(244, 109, 120);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4%;
    overflow: hidden;
    hyphens: auto;
    flex-wrap: wrap;
  }

  .text_coming {
    font-size: 2rem;
    text-align: justify;
    font-weight: 300;
  }

  .text_coming p {
    margin: 0;
    /* Remove a margem padrão dos parágrafos */
  }

  .text_contacts {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  .logo_index {
    display: block;
    /* Tornar a imagem um bloco para definir margens automaticamente */
    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    width: 20%;
    /* Definir a largura desejada */
    left: 0;
    border-radius: 10px;
  }

  .footer_imgcard {
    display: inline-block;
    width: 8%;
    margin: 0 auto;
    position: relative;
    left: 0;
    margin: 10px;

  }
}