@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móveis */
  .links_index {
    display: none;
    flex-direction: column;
    background-color: rgba(36, 30, 61, 0);
    width: 100%;
    position: relative;
    z-index: 8;
    top: 0;
  
  }
  
  .link_text {
    margin-left: 8px;
    font-size: 32px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    left: 5%;

  }

  .link_text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
  
  }
  
  .link_text:hover::before {
    width: 50%;
    transform: translateX(-50%);
  }
  


  

  .text_introdu {
    font-family: 'Inter', sans-serif;
    font-size: 5vw;
    position: relative;
    text-align: center;
    left: 50%;
    bottom: 3vh;
    transform: translateX(-50%);
  }


  .perfil_img {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%; 
    min-height: 80%;
    max-width: 80%; 
    max-height: 80%;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
    z-index: 9;

  }

  .button_contacts {
    position: fixed;
    top: 0;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    margin-bottom: 3vh;
    font-family: "Leelawadee UI";
    font-size: 4vh;
    text-align: center;
    width: 90%;
    height: 47px;
    border-radius: 20px;
    background: white;
    color: black;
    border: 1px solid white;
    position: relative;
    bottom: 205px;
    z-index: 6;
  }

  .writing-effect {
    font-family: 'Noto Sans Gujarati', sans-serif;
    font-size: 7vw;
    color: #013170;
    overflow: hidden;
    width: 21ch;
    border-right: 4px solid #013170;
    white-space: nowrap;
    animation: typing 4.9s steps(21), blinking 0.75s infinite ease-in-out;
    animation-iteration-count: infinite;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
    z-index: 6;
  }


  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blinking {
    50% {
      border-color: transparent;
    }
  }
 
  .title_about_me {
    color: white;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 15vw;
    margin-left: 5%;
    left: 5%;
  }
  .title_about_me2 {
    color: white;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 7vw;
    margin-left: 5%;
    left: 5%;
    top: 2vh;
  }
  
  .title_about_me3 {
    color: white;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 7vw;
    margin-left: 5%;
    left: 5%;
    top: 3vh;
  }


  
  .text_about_me {
    color: white;
    white-space: normal; /* Alterando de wrap para normal */
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 7vw;
    margin-left: 5%;
    left: 5%;
    overflow-wrap: break-word; /* Usando overflow-wrap em vez de word-wrap */
  }


  .text_about_me2 {
    color: white;
    white-space: wrap;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 7vw;
    left: 5%;
    top: 2vh;
  }
  
  .text_about_me3 {
    color: white;
    white-space: wrap;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 7vw;
    left: 5%;
    top: 3vh;
  }

  .title_skills {
    color: #3B3D3D;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 9vw;
    text-align: center;
    top:5vh;
  
  }
  .img_skills {
    position: relative;
    z-index: 5;
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    top: 5vh;
  }
  .text_skills {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }
  
  .text_skills2 {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }
  
  
  .text_skills3 {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }
  
  .text_skills4 {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }
  
  .text_skills5 {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }
  
  .text_skills6 {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }
  
  
  .text_skills7 {
    color: white;
    position: relative;
    z-index: 6;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
  }

  .slider-container {
    display: inline-block;
    white-space: wrap;
    width: 300px;
    overflow: hidden;
    position: relative;
    background: #9FD9DB;
    width: 90%;
    height: 35vh;
    z-index: 6;
    border-radius: 20px;
    margin: 5%;
    position: relative;
    bottom: 10vh;
    left: 0%;
  }

  .slider_img_cert {
    width: 45%;
    position: relative;
    overflow: hidden;
    top: 3px;
    left: 3%;
  }


  .slider_img {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;
  }
  
  .slider_img2 {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;
  
  }
  
  .slider_img3 {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;
  
  }

  .slider_img_cert {
    max-width: 45%;
    position: relative;
    overflow: hidden;
    top: 1vh;
    left: 3%;
  }

  .text_certificado1 {
    font-size: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    bottom: 150px;
    overflow: hidden;
  }

  .slider{
    word-break: break-all;
  }

  .text_dif1 {
    width: 73%;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 49px;
    overflow: hidden;
  }
  
  .footer_img {
    width: 15vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  .footer_img2 {
    width: 15vw;
    margin: 1px;
  }
  
  .footer_img3 {
    width: 15vw;
    margin: 1px;
  }

  .filter-btn {
    background: #D9D9D9;
    overflow: hidden;
    margin-left: 0;
    width: 90%;
    height: 7vh;
    margin-bottom: 2vh;
    color: black;
    font-size: 3vw;
    text-align: center;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    position: relative;
    bottom: 10vh;
    left: 50%;
    z-index: 6;
    border: none;
    transform: translateX(-50%);
  }

  #load-more-btn {
    display: block;
    overflow: hidden;
    font-size: 3vw;
    position: relative;
    bottom: 10vh;
    width: 33%;
    height: 10vh;
    z-index: 6;
    margin-left: 0;
    padding: 10px 20px;
    background: #D9D9D9;
    color: black;
    border: none;
    font-family: "Jost", sans-serif;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
  
  }

  .dropdown {
    display: inline-block; /* Torna o dropdown visível */
  }

  .dropdown:hover .dropdown-content {
    display: block; /* Mostra o conteúdo do dropdown ao passar o mouse */
  }

  .title_menu1{
    font-family: "Jost", sans-serif;
    padding-left: 16px;
  }
}




@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
}


@media only screen and (min-width: 1024px) {
  /* Estilos para desktops */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos pequenos e médios */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Estilos para dispositivos grandes */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
  /* Estilos para telas de alta resolução */
}