@media only screen and (max-width: 768px) {
  /* Estilos para dispositivos móveis */

  body {
    overflow: hidden; /* Oculta a barra de rolagem padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content {
    overflow-y: scroll; /* Permite a rolagem vertical */
    -webkit-overflow-scrolling: touch; /* Ativa o desempenho de rolagem suave no iOS */
    height: 100vh; /* Define a altura da área de conteúdo */
  }

  .links_index {
    display: none;
    flex-direction: column;
    background-color: rgba(36, 30, 61, 0);
    width: 100%;
    position: relative;
    z-index: 8;
    top: 0;

  }

  .link_text {
    margin-left: 8px;
    font-size: 32px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    left: 5%;

  }

  .link_text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);

  }

  .link_text:hover::before {
    width: 50%;
    transform: translateX(-50%);
  }





  .text_introdu {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    position: relative;
    text-align: center;
    left: 50%;
    top: 0vh;
    transform: translateX(-50%);
  }


  .perfil_img {
    display: block; /* Alterei para 'block' para garantir que o 'auto' funcione corretamente */
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    width: 80%; /* Mudei de min-width/max-width para width */
    height: auto; /* Mantive o mesmo margem superior */
    z-index: 7;

  }

  .button_contacts {
    position: fixed;
    top: 0;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    margin-bottom: 3vh;
    font-family: "Leelawadee UI";
    font-size: 4vh;
    text-align: center;
    width: 90%;
    height: 47px;
    border-radius: 20px;
    background: white;
    color: black;
    border: 1px solid white;
    position: relative;
    bottom: 205px;
    z-index: 6;
  }

  .writing-effect {
    font-family: 'Noto Sans Gujarati', sans-serif;
    font-size: 7vw;
    color: #013170;
    overflow: hidden;
    width: 21ch;
    border-right: 4px solid #013170;
    white-space: nowrap;
    animation: typing 4.9s steps(21), blinking 0.75s infinite ease-in-out;
    animation-iteration-count: infinite;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0vh;
    z-index: 6;
  }


  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blinking {
    50% {
      border-color: transparent;
    }
  }

  .title_about_me {
    padding: 0;
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 2.3rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; /* Adicionando quebra de palavras curtas */
    hyphens: auto; 
    left: 0%;
    bottom: 2.5vh;
  }

  .title_about_me2 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 10vh;
  }

  .title_about_me3 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 10vh;
  }



  .text_about_me {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    margin: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    bottom: 8vh;
  }


  .text_about_me2 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    margin: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 12vh;
  }

  .text_about_me3 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    margin: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 12vh;
  }

  .title_skills {
    color: #3B3D3D;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 9vw;
    text-align: center;
    bottom: 12vh;

  }

  .img_skills {
    position: relative;
    z-index: 7;
    width: 80%;
    height: auto;
    display: inline-block;
    margin-left: 10%;
    left: 0;
    top: -50px;
  }

  .text_skills {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills2 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }


  .text_skills3 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills4 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills5 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills6 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }


  .text_skills7 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .slider-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto; /* Talvez você precise ajustar isso conforme necessário */
    overflow: hidden;
    position: relative;
    background: #9FD9DB;
    width: 90%;
    height: 35vh;
    z-index: 6;
    border-radius: 20px;
    margin: 5%;
    position: relative;
    top: -50px;
    left: 0%;
}

  .slider_img_cert {
    width: 45%;
    position: relative;
    overflow: hidden;
    top: 5px;
    left: 3%;
  }


  .slider_img {
    display: flex;
    align-items: center;
    width: 15%;
    position: relative;
    left: 3%;
    overflow: hidden;
  }

  .slider_img2 {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;

  }

  .slider_img3 {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;

  }

  .slider_img_cert {
    max-width: 45%;
    position: relative;
    overflow: hidden;
    top: 1vh;
    left: 3%;
  }

  .text_certificado1 {
    font-size:  1rem;
    height: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    top: -150px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .text_certificado2 {
    font-size:  1rem;
    height: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    bottom: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .text_certificado3 {
    font-size:  1rem;
    height: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    bottom: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .slider {
    word-break: break-all;
  }

  .text_dif1 {
    width: 73%;
    height: auto;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 49px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .text_dif2 {
    width: 73%;
    height: auto;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 49px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .text_dif3 {
    width: 73%;
    height: auto;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .title_card_difere {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    overflow: hidden;
    color: white;
    text-align: center;
    margin-top: 3%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  

  .footer_img {
    width: 15vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .footer_img2 {
    width: 15vw;
    margin: 1px;
  }

  .footer_img3 {
    width: 15vw;
    margin: 1px;
  }

  .filter-btn {
    background: #D9D9D9;
    overflow: hidden;
    margin-left: 0;
    width: 90%;
    height: 7vh;
    margin-bottom: 2vh;
    color: black;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    position: relative;
    bottom: 7vh;
    left: 50%;
    z-index: 6;
    border: none;
    transform: translateX(-50%);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #load-more-btn {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    position: relative;
    bottom: 5vh;
    width: 60%;
    height: auto;
    z-index: 6;
    margin-left: 0;
    background: #D9D9D9;
    color: black;
    border: none;
    font-family: "Jost", sans-serif;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;

  }

  .dropdown {
    display: inline-block;
    /* Torna o dropdown visível */
  }

  .dropdown:hover .dropdown-content {
    display: block;
    /* Mostra o conteúdo do dropdown ao passar o mouse */
  }

  .title_menu1 {
    font-family: "Jost", sans-serif;
    padding-left: 16px;
  }

  .link_text2 {
    margin-left: 2%;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: rgb(138, 135, 135);
    position: relative;
    left: 1%;
    margin: 2%;
    font-family: "Jost", sans-serif;
  
  }
  
  .link_text2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
  
  }
  
  .link_text2:hover::before {
    width: 50%;
  }

  .dots {
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
  }
  
  .dot {
    width: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
  }
  
  .dot.active {
    background-color: #333;
  }

  .dots_certificados {
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
  }
  
  .dot_certificado {
    width: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
  }
  
  .dot_certificado.active {
    background-color: #333;
  }
  
  .slide {
    overflow: hidden;
    height: auto;
    flex: 0 0 100%;
  }

  .title_port {
    color: #3B3D3D;
    position: relative;
    z-index: 6;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    bottom: 118px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  #projects-container {
    position: relative;
    overflow: hidden;
    background-color: rgb(62, 62, 62);
    z-index: 6;
    bottom: 100px;
    border: none;
    white-space: normal;
  }

  .title_maproject {
    font-size: 2.5rem;
    text-align: justify;
    color: white;
    position: relative;
    z-index: 6;
    left: 5%;
    bottom: 10vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .title_certificados {
    font-size: 2rem;
    z-index: 10;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin-top: 3%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
  
  
}




@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
  body {
    overflow: hidden; /* Oculta a barra de rolagem padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content {
    overflow-y: scroll; /* Permite a rolagem vertical */
    -webkit-overflow-scrolling: touch; /* Ativa o desempenho de rolagem suave no iOS */
    height: 100vh; /* Define a altura da área de conteúdo */
  }

  .links_index {
    display: none;
    flex-direction: column;
    background-color: rgba(36, 30, 61, 0);
    width: 100%;
    position: relative;
    z-index: 8;
    top: 0;

  }

  .link_text {
    margin-left: 8px;
    font-size: 32px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    left: 5%;

  }

  .link_text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);

  }

  .link_text:hover::before {
    width: 50%;
    transform: translateX(-50%);
  }





  .text_introdu {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    position: relative;
    text-align: center;
    left: 50%;
    top: 0vh;
    transform: translateX(-50%);
  }


  .perfil_img {
    display: block; /* Alterei para 'block' para garantir que o 'auto' funcione corretamente */
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    width: 80%; /* Mudei de min-width/max-width para width */
    height: auto; /* Mantive o mesmo margem superior */
    z-index: 7;

  }

  .button_contacts {
    position: fixed;
    top: 0;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    margin-bottom: 3vh;
    font-family: "Leelawadee UI";
    font-size: 4vh;
    text-align: center;
    width: 90%;
    height: 47px;
    border-radius: 20px;
    background: white;
    color: black;
    border: 1px solid white;
    position: relative;
    bottom: 205px;
    z-index: 6;
  }

  .writing-effect {
    font-family: 'Noto Sans Gujarati', sans-serif;
    font-size: 7vw;
    color: #013170;
    overflow: hidden;
    width: 21ch;
    border-right: 4px solid #013170;
    white-space: nowrap;
    animation: typing 4.9s steps(21), blinking 0.75s infinite ease-in-out;
    animation-iteration-count: infinite;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0vh;
    z-index: 6;
  }


  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blinking {
    50% {
      border-color: transparent;
    }
  }

  .title_about_me {
    padding: 0;
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 2.3rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; /* Adicionando quebra de palavras curtas */
    hyphens: auto; 
    left: 0%;
    bottom: 2.5vh;
  }

  .title_about_me2 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 10vh;
  }

  .title_about_me3 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 10vh;
  }



  .text_about_me {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    margin: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    bottom: 8vh;
  }


  .text_about_me2 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    margin: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 12vh;
  }

  .text_about_me3 {
    display: inline-block;
    color: white;
    text-align: justify;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    margin: 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
    left: 0%;
    bottom: 12vh;
  }

  .title_skills {
    color: #3B3D3D;
    position: relative;
    z-index: 5;
    font-family: "Jost", sans-serif;
    font-size: 9vw;
    text-align: center;
    bottom: 12vh;

  }

  .img_skills {
    position: relative;
    z-index: 7;
    width: 80%;
    height: auto;
    display: inline-block;
    margin-left: 10%;
    left: 0;
    top: -50px;
  }

  .text_skills {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills2 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }


  .text_skills3 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills4 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills5 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .text_skills6 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }


  .text_skills7 {
    color: white;
    position: relative;
    z-index: 7;
    font-size: 15vw;
    font-family: "Jost", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
  }

  .slider-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto; /* Talvez você precise ajustar isso conforme necessário */
    overflow: hidden;
    position: relative;
    background: #9FD9DB;
    width: 90%;
    height: 35vh;
    z-index: 6;
    border-radius: 20px;
    margin: 5%;
    position: relative;
    top: -50px;
    left: 0%;
}

  .slider_img_cert {
    width: 45%;
    position: relative;
    overflow: hidden;
    top: 5px;
    left: 3%;
  }


  .slider_img {
    display: flex;
    align-items: center;
    width: 15%;
    position: relative;
    left: 3%;
    overflow: hidden;
  }

  .slider_img2 {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;

  }

  .slider_img3 {
    width: 15%;
    position: relative;
    top: 33px;
    left: 3%;

  }

  .slider_img_cert {
    max-width: 45%;
    position: relative;
    overflow: hidden;
    top: 1vh;
    left: 3%;
  }

  .text_certificado1 {
    font-size:  1rem;
    height: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    top: -150px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .text_certificado2 {
    font-size:  1rem;
    height: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    bottom: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .text_certificado3 {
    font-size:  1rem;
    height: auto;
    white-space: wrap;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 49%;
    bottom: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .slider {
    word-break: break-all;
  }

  .text_dif1 {
    width: 73%;
    height: auto;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 49px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .text_dif2 {
    width: 73%;
    height: auto;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 49px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .text_dif3 {
    width: 73%;
    height: auto;
    z-index: 6;
    color: rgb(118, 109, 109);
    font-family: "Jost", sans-serif;
    position: relative;
    left: 23%;
    bottom: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .title_card_difere {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    overflow: hidden;
    color: white;
    text-align: center;
    margin-top: 3%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  

  .footer_img {
    width: 15vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .footer_img2 {
    width: 15vw;
    margin: 1px;
  }

  .footer_img3 {
    width: 15vw;
    margin: 1px;
  }

  .filter-btn {
    background: #D9D9D9;
    overflow: hidden;
    margin-left: 0;
    width: 90%;
    height: 7vh;
    margin-bottom: 2vh;
    color: black;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    position: relative;
    bottom: 7vh;
    left: 50%;
    z-index: 6;
    border: none;
    transform: translateX(-50%);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #load-more-btn {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    position: relative;
    bottom: 5vh;
    width: 60%;
    height: auto;
    z-index: 6;
    margin-left: 0;
    background: #D9D9D9;
    color: black;
    border: none;
    font-family: "Jost", sans-serif;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;

  }

  .dropdown {
    display: inline-block;
    /* Torna o dropdown visível */
  }

  .dropdown:hover .dropdown-content {
    display: block;
    /* Mostra o conteúdo do dropdown ao passar o mouse */
  }

  .title_menu1 {
    font-family: "Jost", sans-serif;
    padding-left: 16px;
  }

  .link_text2 {
    margin-left: 2%;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: rgb(138, 135, 135);
    position: relative;
    left: 1%;
    margin: 2%;
    font-family: "Jost", sans-serif;
  
  }
  
  .link_text2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
  
  }
  
  .link_text2:hover::before {
    width: 50%;
  }

  .dots {
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
  }
  
  .dot {
    width: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
  }
  
  .dot.active {
    background-color: #333;
  }

  .dots_certificados {
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
  }
  
  .dot_certificado {
    width: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
  }
  
  .dot_certificado.active {
    background-color: #333;
  }
  
  .slide {
    overflow: hidden;
    height: auto;
    flex: 0 0 100%;
  }

  .title_port {
    color: #3B3D3D;
    position: relative;
    z-index: 6;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    bottom: 118px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  #projects-container {
    position: relative;
    overflow: hidden;
    background-color: rgb(62, 62, 62);
    z-index: 6;
    bottom: 100px;
    border: none;
    white-space: normal;
  }

  .title_maproject {
    font-size: 2.5rem;
    text-align: justify;
    color: white;
    position: relative;
    z-index: 6;
    left: 5%;
    bottom: 10vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .title_certificados {
    font-size: 2rem;
    z-index: 10;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin-top: 3%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
}


@media only screen and (min-width: 1024px) {
  /* Estilos para desktops */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos pequenos e médios */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Estilos para dispositivos grandes */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
  /* Estilos para telas de alta resolução */
}